PLEX_MEDIA_REQUEST_RADARR_BASE_URL=replace-with-radarr-base-url
PLEX_MEDIA_REQUEST_RADARR_API_KEY=replace-with-radarr-api-key
PLEX_MEDIA_REQUEST_RADARR_QUALITY_PROFILE_ID=replace-with-radarr-quality-profile-id
PLEX_MEDIA_REQUEST_RADARR_QUALITY_PROFILE_NAME=replace-with-radarr-quality-profile-name
PLEX_MEDIA_REQUEST_RADARR_ROOT_FOLDER_PATH=replace-with-radarr-root-folder-path
PLEX_MEDIA_REQUEST_RADARR_TAG_IDS=replace-with-radarr-tag-ids
PLEX_MEDIA_REQUEST_SONARR_BASE_URL=replace-with-sonarr-base-url
PLEX_MEDIA_REQUEST_SONARR_API_KEY=replace-with-sonarr-api-key
PLEX_MEDIA_REQUEST_SONARR_NORMAL_QUALITY_PROFILE_ID=replace-with-sonarr-normal-quality-profile-id
PLEX_MEDIA_REQUEST_SONARR_NORMAL_QUALITY_PROFILE_NAME=replace-with-sonarr-normal-quality-profile-name
PLEX_MEDIA_REQUEST_SONARR_ANIME_QUALITY_PROFILE_ID=replace-with-sonarr-anime-quality-profile-id
PLEX_MEDIA_REQUEST_SONARR_ANIME_QUALITY_PROFILE_NAME=replace-with-sonarr-anime-quality-profile-name
PLEX_MEDIA_REQUEST_SONARR_ROOT_FOLDER_PATH=replace-with-sonarr-root-folder-path
PLEX_MEDIA_REQUEST_SONARR_TAG_IDS=replace-with-sonarr-tag-ids
