PLEX_MEDIA_REQUEST_RADARR_BASE_URL=http://radarr:7878
PLEX_MEDIA_REQUEST_RADARR_API_KEY=replace-with-radarr-api-key
PLEX_MEDIA_REQUEST_SONARR_BASE_URL=http://sonarr:8989
PLEX_MEDIA_REQUEST_SONARR_API_KEY=replace-with-sonarr-api-key
